@{
    ViewBag.Title = "Home Page";
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
          crossorigin="anonymous">
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Mantenimientos</div>
            <div class="panel-body" id="feature-content">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-body text-center">
                            <span class="glyphicon glyphicon-check icon-big" aria-hidden="true"></span>
                            <h3><a class="nav-link active" aria-current="page" href="/Puesto/Index">Puesto</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-body text-center">
                            <span class="glyphicon glyphicon-user icon-big" aria-hidden="true"></span>
                            <h3><a class="nav-link active" aria-current="page" href="/Empleado/Index">Empleados</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Gestiones</div>
            <div class="panel-body" id="feature-content">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-body text-center">
                            <span class="glyphicon glyphicon-user icon-big" aria-hidden="true"></span>
                            <h3><a class="nav-link active" aria-current="page" href="/UsuarioTicket/Index">Tickets del Usuario</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-body text-center">
                            <span class="glyphicon glyphicon-ok icon-big" aria-hidden="true"></span>
                            <h3><a class="nav-link active" aria-current="page" href="/AdminTicket/Index">Administrar Tickets</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-body text-center">
                            <span class="glyphicon glyphicon-cog icon-big" aria-hidden="true"></span>
                            <h3><a class="nav-link active" aria-current="page" href="/GestionTicket/Index">Gestionar Tickets</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>